/Data/Scripts/LinkedLights/bin
/Data/Scripts/LinkedLights/obj
/Data/Scripts/LinkedLights/packages
/Data/Scripts/AutoRecharge/bin
/Data/Scripts/AutoRecharge/obj
/Data/Scripts/AutoRecharge/.vs
/Data/Scripts/AutoRecharge/packages
